 * {
    margin: 0;
    padding: 0;
}

html, body {
    overflow: hidden;
}

#canvas {
    position: absolute;
    background: black;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

span {
    padding-left: 504px;
    position: center;
    top: 0;
    left: 0;
    
}

.blue {
    position: relative;
    color: black;
    background-color: darkgreen;
    border-radius: 30px;
    border-color: rgba(4, 4, 120, 0.984);
    padding: 10px;
    margin: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    text-decoration: wavy;
   
}


.red {
    position: relative;
    color: black;
    background-color: darkgreen;
    border-color: darkred;
    border-radius: 30px;
    padding: 10px;
    margin: 10px;


}

.information {
    position: relative;
    color: black;
    background-color: darkgreen;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}
